.header {
  background-color: #222;
  height: 36px;
  padding: 8px 32px 8px 16px;
}

.logo {
  height: 35px;
  background-color: #ff7f7f;
  -webkit-animation: infiniteRotate 8s linear infinite; /* Safari */
  animation: infiniteRotate 8s linear infinite;
}

@-webkit-keyframes infiniteRotate {
  0% {
    -webkit-transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(-1);
  }
}
